.wrapper{
    width: 100%;
    overflow: hidden;
    .page-wrapper{
        background: #f4f6f9;
        margin-left: 240px;
        padding-top: 70px;
        height: 100%;
        position: fixed;
        width: 100%;
        .container-fluid{
            padding: 25px 25px;
        }
    }
}