<ion-content>
  <ion-title>{{title}}</ion-title>
  <form [formGroup]="addMovie">
    
    <div>
      <div class="containerInput">
        <div>Nombre de Película</div>
        <ion-input class="input"
          formControlName="name"
        ></ion-input>
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMovie.name">
          <div
            class="error-message"
            *ngIf="showSignInValidationMessage(validation, 'name')">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    
    <div>
      <div class="containerInput">
        <div>Fecha de Publicación</div>
 
        <ion-datetime 
          class="input"
          formControlName="publicationDate" 
          displayFormat="MM/DD/YYYY"
          placeholder="Fecha de Publicación"
        ></ion-datetime>
        
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMovie.publicationDate">
          <div
            class="error-message"
            *ngIf="showSignInValidationMessage(validation, 'publicationDate')">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
 
    <div>
      <div class="containerInput">
        <div>Estado</div>
        <ion-select
          class="input" 
          formControlName="state"
          interface="popover">
          <ion-select-option value="01">Activado</ion-select-option>
          <ion-select-option value="02">Desactivado</ion-select-option>
        </ion-select>
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMovie.state">
          <div
            class="error-message"
            *ngIf="showSignInValidationMessage(validation, 'state')">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="containerButton">
      <ion-button (click)="createMovie()" [disabled]="!addMovie.valid">{{buttonName}}</ion-button>
    </div>
  </form>
</ion-content>
