<aside class="containerAside">

    <div class="scroll-sidebar">

            <ul >
                <li routerLinkActive="active" routerLink="/dashboard" >Dashboard</li>
                <li routerLinkActive="active" routerLink="/movies" >Películas</li>
                <li routerLinkActive="active" routerLink="/turns" >Turnos</li>
                <li routerLinkActive="active" routerLink="/managers" >Administradores</li>
                <li routerLinkActive="active" routerLink="/profile" >Perfil</li>
                <li routerLinkActive="active" routerLink="/logout" >Cerrar Sesión</li>
            </ul>
            
    </div>

</aside>
