/* You can add global styles to this file, and also import other style files */
// .small{
//     height: 50px;
//     object-fit: cover;
//     margin-right: 1em;
// }
html{
    min-height: 100%;
}
body{
    // height: 100%;
    margin: 0;
}
p{
    font-family: "Montserrat", sans-serif;
    color: #67757c;
    font-size: 1rem;
    line-height: 1.5;
}
li{
    font-size: 18px;
    margin-bottom: 0px;
    padding: 14px 14px 14px 20px;
    color: #263238;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    border-top: 1px solid #eeeff0;
    &:focus{
       outline: 0; 
    }
}
ul{
    margin: 0px;
    padding: 0px;
}