/* You can add global styles to this file, and also import other style files */
// .small{
//     height: 50px;
//     object-fit: cover;
//     margin-right: 1em;
// }
html{
    min-height: 100%;
}
body{
    // height: 100%;
    margin: 0;
}
p{
    font-family: "Montserrat", sans-serif;
    color: #67757c;
    font-size: 1rem;
    line-height: 1.5;
}
li{
    font-size: 18px;
    margin-bottom: 0px;
    padding: 14px 14px 14px 20px;
    color: #263238;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    border-top: 1px solid #eeeff0;
    &:focus{
       outline: 0; 
    }
}
ul{
    margin: 0px;
    padding: 0px;
}
ion-col{
    font-family: "Montserrat", sans-serif;
}
ion-title{
    font-family: "Montserrat", sans-serif;
}
ion-button{
    font-family: "Montserrat", sans-serif;
}
ion-label{
    font-family: "Montserrat", sans-serif; 
}
ion-input{
    font-family: "Montserrat", sans-serif; 
}
div{
    font-family: "Montserrat", sans-serif;
}
.movieModal .modal-wrapper{
    // --max-height:70%;
    // --max-width:80%;
    max-height: 60%;
    min-width: 70%;
    border-radius: 1em;
    background: var(--content-color);
    app-transaction{
        display: block;
        // align-items: center;
        // justify-content: center;
    }
} 