<ion-header>
    <ion-title>Películas</ion-title>
    <ion-button (click)="openModalMovie()">Nueva Película</ion-button>  
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
              ID
            </ion-col>
            <ion-col>
              Nombre
            </ion-col>
            <ion-col>
              F. Publicación
            </ion-col>
            <ion-col>
              Estado
            </ion-col>
            <ion-col>
             Mantenimiento
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let movie of movies;let i=index">
          <ion-col size="2.4">
            {{i+1}}
          </ion-col>
          <ion-col size="2.4">
            {{movie.name}}
          </ion-col >
          <ion-col size="2.4">
            {{movie.publicationDate}}
          </ion-col>
          <ion-col size="2.4" *ngIf="movie.state=='01'">
            Activado
          </ion-col>
          <ion-col size="2.4" *ngIf="movie.state=='02'">
            Desactivado
          </ion-col>
          <ion-col size="1.2">
              <ion-icon (click)="openModalMovie(movie,i)" name="pencil-outline"></ion-icon>
          </ion-col>
          <ion-col size="1.2">
              <ion-icon (click)="deleteMovie(movie)" name="trash-outline"></ion-icon>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>