<ion-header>
    <ion-title>Películas</ion-title>
    <ion-button (click)="openModalMovie()">Nueva Película</ion-button>  
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
              ID
            </ion-col>
            <ion-col>
              Nombre
            </ion-col>
            <ion-col>
              F. Publicación
            </ion-col>
            <ion-col>
              Estado
            </ion-col>
            <ion-col>
             Mantenimiento
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let movie of movies;let i=index">
          <ion-col>
            {{i+1}}
          </ion-col>
          <ion-col>
            {{movie.name}}
          </ion-col>
          <ion-col>
            {{movie.publicationDate}}
          </ion-col>
          <ion-col>
            {{movie.state}}
          </ion-col>
          <ion-col size="2">
              <ion-icon (click)="openModalMovie(movie)" name="pencil-outline"></ion-icon>
          </ion-col>
          <ion-col size="2">
              <ion-icon (click)="deleteMovie()" name="trash-outline"></ion-icon>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>